@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-paytone {
  font-family: "Paytone One", sans-serif;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: 0; /* Firefox */
  }
}
